body{
    margin:0px;
}
li ul{
    display: none;
}
li:hover >ul{
    display: block;
}
ul{
    list-style: none;
} 
.item{
    position: relative;
    font-size:20px;
    float: left;
}
.subitem{
    float:left;
    width:150px;
    position:absolute;
    font-size:20px;
    background-color:#292929;
    color:white;    
}
.sub-subitem{
    padding:10px 0px 10px 20px;
    background-color: salmon;
    color:black;
    font-size:18px;
    width:200px;
    position:absolute;
    z-index:99;
    left:190px;
    top:0px;
}
.cen{
    height:110px;
    position:absolute;
    z-index:99;
    left:150px;
    top:1px;
}
#hn{
    display:inline-block;
}
.navbar{
    position:sticky;
    top:0px;
    z-index:3;
    border:1px solid gainsboro;
    height:60px;
    background-color: white;
}
#cmcs{
    background-color:white;
    text-align:center;
    
}
.head{
    font-size:45px;
    font-family:Raleway;
    letter-spacing: 17px;
    text-align: center;
}
#p1{
    font-size:20px;
}
.container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content:space-around;
    justify-content: space-around;
    
}
.head3{
    font-family:Funsized;
}
.item2{
    background-color:white;
    width:300px;
    padding:50px;
    margin-bottom: 20px;
    text-align:center;
    font-family:Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.item2-1{
    background-color: #f8f8f8;
    width:300px;
    padding:50px;
    margin-bottom: 20px;
    text-align:center;
    font-family:Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.item2-2{
    background-color: #151414;
    width:300px;
    padding:50px;
    color:white;
    text-align:center;
    margin-bottom: 20px;
    font-family:Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    overflow: hidden;
}
.button{
    width:200px;
    height:50px;
    padding-top: 15px;
    text-align:center;
    margin:40px;
    margin-left:50px;
    font-size:25px;
    letter-spacing: 1px;
    font-family: Yatra One;
    background-color: #fc4f4f;
}
.combo{
    background-color: #fc4f4f;
    height:20px;
    padding: 2px 50px;
    font-weight: 700;
    font-family: Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;
    top:60px;
    right:100px;
    transform:translateX(150px) translateY(-22px) rotateZ(45deg);
}
.head4{
    font-family:Raleway;
    font-size:35px;
}
.head4-1{
    font-family:Raleway;
    font-size:45px;
}
#team{
    background-color: #f8f8f8;
    height:1000px;
    text-align: center;
}
.container2{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: space-between;
    justify-content: space-around;
    perspective: 600px;
}
.flip{
    transform-style: preserve-3d;
    position: relative;
    transition:1s;
}
.item3{
    width:300px;
    padding:50px;
    text-align:center;
    font-family:Yatra One;
    backface-visibility: hidden;
    position:absolute;
    transform-style: preserve-3d;
    z-index:2;
    transform: rotateY(0deg);
    cursor: pointer;
}
.info{
    position:relative;
    width:300px;
    padding:50px;
    text-align:left;
    backface-visibility: hidden;
    transform-style:preserve-3d;
    z-index:0;
    transform: rotateY(-180deg);
    word-spacing: 6px;
    line-height: 19px;
    font-family:  Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.flip:hover{
    transform:rotateY(180deg);
    transition:1s;
}
.img1{
    border-radius:50%;
}
.head2{
    display: inline-block;
    font-family: Raleway;
    letter-spacing:3px;
}
.container3{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: space-around;
    justify-content: space-around;
    height:800px;
}
.item4{
    width:500px;
    height: 250px;
    margin-bottom:50px;
    box-shadow:10px 10px 15px 1px #292929;
    font-family:Raleway;
    padding:40px;
    display:flex;
    flex-direction: row;
}
.img2{
    border-radius: 50%;
}
.title{
    margin-right:10px;
    text-align:center;
    letter-spacing: 2px;
    font-family:Yatra One;
}

#contact{
    background-color: #333;
    color:white;
    height:1000px;
}
table{
    margin:40px;
    
}
tr td{
    font-family: Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size:17px;
    line-height: 25px;
}
.container4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.item5{
    width:300px;
    font-family: Raleway;
    font-size:15px;
    line-height: 20px;
}
#end{
    margin:70px;
   margin-bottom: 0px;
}
#t{
    padding-left:600px;
}
#endh{
    color:darkgray;
}
.last{
    border:3px solid darkgrey;
    width:70px;
    text-align:center;
    margin-left:600px;
    padding:10px;
}
a{
    text-decoration: none;
    color:white;
}
.last:hover{
    border:3px solid whitesmoke;
}
.item4:hover{
    background-color:black;
    color:white;
    transform: translateX(-20px) translateY(-20px);
    box-shadow:15px 15px 15px 1px #292929;
    transition:1s;
}
.button:hover{
    background-color:whitesmoke;
    color:goldenrod;
    cursor:pointer;
    transition:1s;
}
.nav{
    text-decoration: none;
    color:black;
    padding:40px;
    font-family:Raleway;
}

.j{
    font-family:Raleway; 
}

.item:hover{
    background-color:crimson;
}
.subitem>li:hover{
    background-color: #f8f8f8;
    border:3px solid black;
    cursor: pointer;
    color:black;
}
.sub-subitem>li:hover{
    background-color: #f8f8f8;
    border:3px solid black;
}