body{
    margin:0px;
}

li ul{
    display: none;
}
li:hover >ul{
    display: block;
}
ul{
    list-style: none;
} 
.item{
    position: relative;
    font-size:20px;
    float: left;
}
.subitem{
    float:left;
    width:150px;
    position:absolute;
    font-size:20px;
    background-color:#292929;
    color:white;    
}
.sub-subitem{
    padding:10px 0px 10px 20px;
    background-color: salmon;
    color:black;
    font-size:18px;
    width:200px;
    position:absolute;
    z-index:99;
    left:190px;
    top:0px;
}
.cen{
    height:110px;
    position:absolute;
    z-index:99;
    left:150px;
    top:1px;
}
.hn{
    display:inline-block;
}
.navbar{
    position:sticky;
    top:0px;
    z-index:3;
    border:1px solid gainsboro;
    height:82px;
    padding-top:20px;
    background-color: white;
}
#home{
    height: 600px;
    background-image: url(images/blackboard.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family:'Clouds of Despair LSF';
    font-size:25px;
    color:white;
    padding-left:80px;
    padding-top:70px;
}
#cmcs{
    background-color:white;
    text-align:center;
    
}
.head{
    font-size:45px;
    font-family:Raleway;
    letter-spacing: 17px;
    text-align: center;
}
#p1{
    font-size:20px;
}
.container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content:space-around;
    justify-content: space-around;
    
}
.head3{
    font-family:Funsized;
}
.item2{
    background-color:white;
    width:300px;
    padding:50px;
    margin-bottom: 20px;
    text-align:center;
    font-family:Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.item2-1{
    background-color: #f8f8f8;
    width:300px;
    padding:50px;
    margin-bottom: 20px;
    text-align:center;
    font-family:Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.item2-2{
    background-color: #151414;
    width:300px;
    padding:50px;
    color:white;
    text-align:center;
    margin-bottom: 20px;
    font-family:Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    overflow: hidden;
}
.button{
    text-decoration:none;
    width:200px;
    height:50px;
    text-align:center;
    margin:40px;
    margin-top:10px;
    margin-left:50px;
    font-size:25px;
    letter-spacing: 1px;
    font-family: Yatra One;
    background-color: #fc4f4f;
}
.combo{
    background-color: #fc4f4f;
    height:20px;
    padding: 2px 50px;
    font-weight: 700;
    font-family: Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: absolute;
    top:60px;
    right:100px;
    transform:translateX(150px) translateY(-22px) rotateZ(45deg);
}
.head4{
    font-family:Raleway;
    font-size:35px;
}
.head4-1{
    font-family:Raleway;
    font-size:45px;
}
#team{
    background-color: #f8f8f8;
    height:1000px;
    text-align: center;
}
.container2{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: space-between;
    justify-content: space-around;
    perspective: 600px;
}
.flip{
    transform-style: preserve-3d;
    position: relative;
    transition:1s;
}
.item3{
    width:300px;
    padding:50px;
    text-align:center;
    font-family:Yatra One;
    backface-visibility: hidden;
    position:absolute;
    transform-style: preserve-3d;
    z-index:2;
    transform: rotateY(0deg);
    cursor: pointer;
}
.info{
    position:relative;
    width:300px;
    padding:50px;
    text-align:left;
    backface-visibility: hidden;
    transform-style:preserve-3d;
    z-index:0;
    transform: rotateY(-180deg);
    word-spacing: 6px;
    line-height: 19px;
    font-family:  Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.flip:hover{
    transform:rotateY(180deg);
    transition:1s;
}
.img1{
    border-radius:50%;
}
.head2{
    display: inline-block;
    font-family: Raleway;
    letter-spacing:3px;
}
#reviews{
    height:1000px;
    text-align:center;
}
.container3{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: space-around;
    justify-content: space-around;
    height:800px;
}
.item4{
    width:500px;
    height: 250px;
    margin-bottom:50px;
    box-shadow:10px 10px 15px 1px #292929;
    font-family:Raleway;
    padding:40px;
    display:flex;
    flex-direction: row;
}
.img2{
    border-radius: 50%;
}
.title{
    margin-right:10px;
    text-align:center;
    letter-spacing: 2px;
    font-family:Yatra One;
}

#contact{
    background-color: #333;
    color:white;
    height:1000px;
}
table{
    margin:40px;
    
}
tr td{
    font-family: Nunito,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size:17px;
    line-height: 25px;
}
.container4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.item5{
    width:300px;
    font-family: Raleway;
    font-size:15px;
    line-height: 20px;
}
#end{
    margin:70px;
   margin-bottom: 0px;
}
#t{
    padding-left:600px;
}
#endh{
    color:darkgray;
}
.last{
    border:3px solid darkgrey;
    width:70px;
    text-align:center;
    margin-left:600px;
    padding:10px;
}
a{
    text-decoration: none;
    color:white;
}
.last:hover{
    border:3px solid whitesmoke;
}
.item4:hover{
    background-color:black;
    color:white;
    transform: translateX(-20px) translateY(-20px);
    box-shadow:15px 15px 15px 1px #292929;
    transition:1s;
}
.button:hover{
    background-color:whitesmoke;
    color:goldenrod;
    cursor:pointer;
    transition:1s;
}
.nav{
    text-decoration: none;
    color:black;
    padding:40px;
    font-family:Raleway;
}

.j{
    font-family:Raleway; 
}

.item:hover{
    background-color:crimson;
}
.subitem>li:hover{
    background-color: #f8f8f8;
    border:3px solid black;
    cursor: pointer;
    color:black;
}
.sub-subitem>li:hover{
    background-color: #f8f8f8;
    border:3px solid black;
}

.anim{
    animation-name:slide;
    animation-duration: 10s;
    animation-iteration-count:10;
    display:inline;
}
@keyframes slide{
    from{
        margin-left:40px;
        font-size:25px;
        color:white;
    }
    to{
        margin-left:180px;
        font-size:50px;
        color:salmon;
    }
}
.cb{
    margin-left:100px;
}
.cbb{
    float:right;
    margin-right:100px;
    display:flex;
    flex-direction: column;
    font-size:20px;
    color:coral;
    animation-name:rotate;
    animation-duration:5s;
    animation-iteration-count:1;
}
@keyframes rotate{
    from{
        display:none;
        margin-top:0px;
        transform:rotateZ(0deg)
    }
    to{
        display: block;
        margin-top:150px;
        transform:rotateZ(720deg)
    }
}

@media (max-width:1300px) and (min-width: 500px){
    
    img.hn{width:50px;}
    #home{
        font-size:15px;
        height:50%;
    }
    .cbb{
        font-size:15px;
        margin-left:50px;
    }
    #team{
        height:50%;
    }
    .container3{
        height: 50%;
    }
    #contact{
        height:50%;
    }
    .container4{
        padding-left:10px;
    }
    table{
        height:50%;
    }
    #t{
        padding-left:50px;
    }
    .last{
        margin-left:200px;
    }
    
}
@media (max-width:1300px) and (min-width:850px){
    #t{
        padding-left:400px;
    }
    .last{
        margin-left:500px;
    }
    
}
@media (max-width:956px) and (min-width:768px){
    .last{
        margin-left:400px;
    }
    img.cb{width:25px;}
}
@media (max-width:755px) and (min-width:500px){
    #content{
        font-size:10px;
    }
    #contimg{
        width:100px;
    }
    img.cb{width:25px;}
}
@media (max-width:1257px) and (min-width:850px){
    @keyframes slide{
        from{
            margin-left:40px;
            font-size:20px;
            color:white;
        }
        to{
            margin-left:80px;
            font-size:30px;
            color:salmon;
        }
    }
    @keyframes rotate{
        from{
            font-size:10px;
            margin-top:0px;
            transform:rotateZ(0deg)
        }
        to{
            font-size:15px;
            margin-top:150px;
            transform:rotateZ(720deg)
        }
    }
}
@media (max-width:849px) and (min-width:500px){
    @keyframes slide{
        from{
            margin-left:20px;
            font-size:10px;
            color:white;
        }
        to{
            margin-left:40px;
            font-size:15px;
            color:salmon;
        }
    }
    @keyframes rotate{
        from{ 
            font-size:5px;
            margin-top:0px;
            transform:rotateZ(0deg)
        }
        to{
            font-size:10px;
            margin-top:150px;
            transform:rotateZ(720deg)
        }
    }
    .cbb{
        font-size:10px;
        margin-left:70px;
    }
}
@media(max-width:968px) and (min-width:807px){
    .item{
        font-size:15px;
    }
    .subitem{
        font-size:15px;
    }
    .sub-subitem{
        font-size:15px;
    }
}
@media(max-width:807px) and (min-width:647px){
    .item{
        font-size:10px;
    }
    .subitem{
        font-size:10px;
    }
    .sub-subitem{
        font-size:10px;
    }
}
@media(max-width:647px) and (min-width:500px){
    .item{
        font-size:7px;
    }
    .subitem{
        font-size:7px;
    }
    .sub-subitem{
        font-size:7px;
    }
}